# IDE Files
.idea/

# Python Bytecode
*.pyc
__pycache__/

# Django Migrations
core/migrations/

# Static files (if you're using the default location for static files)
staticfiles/

# Docker files
dockerfile
docker-compose.yaml

# Environment Variables
.env

# Pipenv files
Pipfile
Pipfile.lock

# Other files
*.csr
*.iml

# Ignore SQLite databases
db.sqlite3
identifier.sqlite
